.page {
  margin-top: 80px;
}

.heading{
  font-weight: bold;
  text-align: center;
}

hr.devider {
  width: 85%;
}

.pics{
  position: absolute;
  margin-left: 3%;
  margin-right: 3%;
}

.row{
  margin-left: 0%;
  margin-right: 0%;
  align-items: center;
}

.col_one_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding-right: 30px;
}

.col_two_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding-right: 30px;
}

.col_three_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.col_three_left_only {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.col_one_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.col_one_right_only {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.col_two_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding-left: 30px;
  align-content: flex-end;
}

.col_three_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding-left: 30px;
  align-content: flex-end;
}

.pictures{
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.pictures_last{
  max-width: 200px;
  border-radius: 10px;
}
