.social_button {
    text-align: right;
    float: right;
    padding-left: 10px;
}

.fa {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid #3391DC;
}

.fa:hover {
    text-decoration: none;
    color: white;
    background: #3391DC;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.fa-linkedin {
    background: #F1F9FE;
    color: black;
    height: 42px;
    width: 42px;
}

.fa-file-alt {
    background: #F1F9FE;
    color: black;
    height: 42px;
    width: 42px;
}
