.tab {
  overflow: hidden;
}

.tab button {
  margin-top: 80px;
  background-color: white;
  border: 2px solid #3391DC;
  float: justified;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.tab_one {
  position: absolute;
  left: 3%;
  width: 16.4%;
}

.tab_two {
  position: absolute;
  left: 22.4%;
  width: 16.4%;
}

.tab_three {
  position: absolute;
  right: 41.8%;
  width: 16.4%;
}

.tab_four {
  position: absolute;
  left: 61.2%;
  width: 16.4%;
}

.tab_five {
  position: absolute;
  left: 80.6%;
  width: 16.4%;
}

.tab button:hover:not(.active) {
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 30px 0 rgba(0,0,0,0.19);
  background-color: #3391DC;
  color: white;
  text-decoration: none;
}

.tab button.active {
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 30px 0 rgba(0,0,0,0.19);
  background-color: #3391DC;
  color: white;
  text-decoration: none;
}

.tabcontent {
  margin-top: 170px;
  position: absolute;
  left: 3%;
  right: 3%;
  display: none;
  border-top: none;
  -webkit-animation: fadeEffect 0.4s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.skills{
  margin-top: 10px;
  margin-left: 14px;
  background-color: #e3f2fd;
  padding: 6px 12px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px
}

.fas{
  padding-left: 10px;
}

.report_button {
  background-color: white;
  border: 2px solid #3391DC;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.report_button:hover {
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 30px 0 rgba(0,0,0,0.19);
  background-color: #3391DC;
  color: white;
  text-decoration: none;
}
