.skills{
  margin-top: 10px;
  margin-left: 14px;
  background-color: #e3f2fd;
  padding: 6px 12px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px
}

.fas{
  padding-left: 10px;
}

.fab{
  padding-right: 10px;
}

.report_button {
  background-color: white;
  border: 2px solid #3391DC;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.report_button:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20),0 10px 20px 0 rgba(0,0,0,0.15);
  background-color: #3391DC;
  color: white;
  text-decoration: none;
}

.github_button {
  background-color: white;
  border: 2px solid #3391DC;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.github_button:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20),0 10px 20px 0 rgba(0,0,0,0.15);
  background-color: #3391DC;
  color: white;
  text-decoration: none;
}

.fa-github {
  font-size: 16px;
}
